@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*==================================================
 * Body css ...
 * ===============================================*/
body {
    font-family: 'Poppins', sans-serif;
}
#developers {
    position: relative;
    background-image: url("/src/assets/images/developer_banner_2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#developers:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(to left, #ec2F4B, #009FFF);
    background: linear-gradient(to bottom, #ec2F4B, #009FFF);
    opacity: 0.2;
    z-index: 99;
}
/*==================================================
 * Button css ...
 * ===============================================*/
.btn-grad-md {
    background-image: linear-gradient(to right, #ec2F4B 0%, #009FFF  51%, #ec2F4B  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
         
}
.btn-grad-md:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.btn-grad-sm {
    background-image: linear-gradient(to right, #ec2F4B 0%, #009FFF  51%, #ec2F4B  100%);
    margin: 10px;
    padding: 8px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 6px;
    display: block;
         
}
.btn-grad-sm:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/*==================================================
 * Header - Navbar css ...
 * ===============================================*/
.site-navbar {
    position: relative;
    /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
    background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
    /* border: 2px solid #fff; */
    border-radius: 10px;
    z-index: 999;
}
.site-navbar ul li a {
    color: #fff;
    font-weight: 500;
}
.site-navbar ul li a.active {
    color: #FFCC70;
    font-weight: 700;
}
.site-navbar ul li a:hover{
    color: #FFCC70;
}
.nav-toggle {
    background-color: transparent;
    border: 2px solid #FC466B;
    outline: none;
}
.nav-toggle-icon {
    color: #fff;
    font-size: 25x;
    line-height: 1.5;
}
/* SEARCH HERE STYLES  */
.search-box .search-here {
    position: relative;
    padding-right: 35px; 
    border-radius: 20px;
}
.search-box input:focus {
    border-color: rgb(146, 145, 145);
    box-shadow: none;
    outline: none;
    background: #fff;
}        
.search-icon {
    position: absolute;
    width: 35px;
    height: auto;
    line-height: 38px;
    cursor: pointer;
    text-align: center;
    /* background: #FC466B; */
    background-image: linear-gradient(to right, #ec2F4B 0%, #009FFF  100%);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0 20px 20px 0;
    margin-left: 218px;

}
.search-icon:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.sticky-nav {
  position: sticky;
  top: 0;
  background-color: transparent;
  /* padding: 50px; */
  /* font-size: 20px; */
}  
/*==================================================
 * Banner section css ...
 * ===============================================*/
.developer-banner {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    /* border: 1px solid #fff; */
    box-shadow: 2px 2px 20px 5px rgb(13, 13, 14);
    width: 100%;
    height: 50%;
    border-radius: 10px;
    z-index: 9999;

}
.banner-img {
    width: 100%;
    height: 450px;
}
/*==================================================
 * Teams Section css ...
 * ===============================================*/
.teams {
    position: relative;
    z-index: 9999999;
}
.teams-bread {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    box-shadow: 2px 2px 20px 5px rgb(13, 13, 14);
    padding: 10px;
    border-radius: 10px;
}
.team-member {
    width: 100%;
    height: 95%;
    /* border: 2px solid #61045F; */
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    box-shadow: 2px 2px 10px 5px rgb(13, 13, 14);
    border-radius: 10px 0 10px 10px;

}
.card-img {
    margin: 0 auto;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(67, 255, 177, 0.8) 0%, rgba(255,145,83,1) 90% );
    border-radius: 120px 0 120px 0px;
}
.divider {
    border: 1px solid rgb(255,145,83);
}
img.img-effect {
  transition: transform 2s ease-in;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.img-effect:hover {
  transform: scale(1) rotate(360deg);
}
.member-details {
  position: relative;
  opacity: 1;
  display: block;
  width: 100%;
  /* height: 50%; */
  transition: .8s ease-in;
  backface-visibility: hidden;
}
.card-hire-info {
  transition: .7s ease-in;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 50%;
}
.team-member:hover .member-details {
  opacity: 0.2;
}
.team-member:hover .card-footer {
  opacity: 1;
}
.devInfo {
  text-align: start;
}
.full-star {
    color: #F0C14B;
}
.half-star {
    color: #F0C14B;
}
.member-social-icon i {
    text-align: center;
    font-size: 20px;
    color: #FFF;
    margin-right: 10px;
    background: #61045F;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}
/* ---------------------------------------*\
    Hire Menbers Section ...
/* -------------------------------------- */
.hire-members {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    /* border: 2px solid #fff; */
    border-radius: 5px;
    box-shadow: 2px 2px 15px 5px rgb(13, 13, 14);
    padding: 6px;
}
.hire-members h5, h6 {
    padding: 5px;
    border-radius: 5px;
}
/* ---------------------------------------*\
    Hire a Developer Section ...
/* -------------------------------------- */
.hire-developers {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
   /* border: 2px solid #fff; */
    box-shadow: 2px 2px 15px 5px rgb(13, 13, 14);
    width: 100%;
    height: auto;
    overflow-y: hidden;
}
.selected-developer {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(67, 255, 177, 0.8) 0%, rgba(255,145,83,1) 90% );
    border-radius: 7px;

}
.hide-content {
  display: none;
}
.footer {
    position: relative;
    /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
    background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
    z-index: 999;
}






